.App {
  text-align: center;
  width: 100%;
  background-color: rgb(228, 231, 236);
}

.App-header {
  background-color: rgb(14, 49, 117);
  height: 100px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;  
}

.App-body {

  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: black;  
}

.UpperBodyElement {
  text-align: left;
  position: relative;
  padding: 30px;
  margin: 30px;
  width: 500px;
  overflow-wrap: break-word;
  border: 1px solid rgb(14, 49, 117);
}

.App-footer {
  background-color: rgb(14, 49, 117);
  height: 50px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;  
}

.DropdownButton {
  width:150px;
}

.MethodFormElement {
  margin-right: 20px;
  margin-bottom:30px;
  width:auto;
  height:40px;
 
}

.MethodForm {
  display:flex;
  flex-wrap: wrap;
  font-size: 16px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.QueryAbiView {
  text-align: left;
  position: relative;  
  width:auto;
  overflow-wrap:break-word;
  border:1px solid rgb(14, 49, 117);
  display: flex;
  padding: 30px;
  margin: 30px;
}

.flex-container {
  display: flex;
  width: auto;
}

.danger {
  font-family:"Lucida Sans";
  color: rgb(128, 4, 4)
}

.good {
  font-family:"Lucida Sans";
  color: rgb(2, 85, 16)
}


